.board {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
.board-container {
  padding: 20px;
  background: linear-gradient(#f0f2f5,#999999);
  min-height: 80vh;
}

.request{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color:  white;
  gap: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}
.request p{
  font-size: 30px;
}